@import url(common.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

@keyframes float{
  0%{transform:translate(0,0);}
  100%{transform:translate(0,-30px);}
}



*{box-sizing:border-box;}
html{scroll-behavior:smooth;}

body{
  font-family: 'Noto Sans KR', sans-serif;
  color:#222;
}
h2{
  font-family: 'DM Serif Display', serif;
  font-size:60px;
  font-size:3.750rem;
  text-transform:uppercase;
  padding-top:100px;
}


/* ___________Header___________ */

#moheader{display:none;}

#pcheader{
  width:100%;
  height:90px;
  background-color:rgba(255,255,255,0.6);
  position:fixed;
  top:0;
  left:0;
  right:0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index:1000;
}
nav{
  width:100%;
  max-width:1400px;
  height:inherit;
  margin:auto;
  display:flex;
  justify-content:center;
  align-items:center;
}
nav .logo{flex:2;}
nav .logo img{width:45%;}
.gnb{flex:6;}
.gnb ul{
  height:90px;
  display: flex;
	justify-content: space-evenly;
  text-align: center;
}
.gnb ul li{
  height:90px;
  line-height:90px; 
  color:#342651;
}
.gnb ul li a{
  padding:0 5px 5px;
  transition:0.25s;
  border-bottom:2px solid rgba(0,0,0,0);
  font-weight:bold;
  font-size:18px;
  font-size:1.125 rem;
}
.gnb ul li:hover a{
  color:#81efd2;
  border-bottom:2px solid #81efd2;
}

/* ___________Main___________ */
main{
  font-family: 'Arya', sans-serif;
  margin-top:90px;
  width:100%;
  height:1000px;
  background:url(../image/background.jpg)no-repeat center center;
  background-size:cover;
}
.main_contents{
  width:100%;
  max-width:1400px;
  height:inherit;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
main h1{
  flex:1;
  font-size:110px;
  font-size:6.875rem;
  color:#fff;
  line-height:100px;
  z-index:10;
  padding-left:20px;
}
main span{
  display:block;
  color:#342651;
}
main img{
  flex:3;
  width:70%;
}

/* ___________Section___________ */
/* Claymorphism___________ */
#claymorphism{
  width:100%;
  height:1000px;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.clay{
  width:100%;
  max-width:1400px;
  height:inherit;
  margin:auto;
}
.clay h2{padding-left:30px;}
.clay_contents{
  width:95%;
  max-width:95%;
  margin:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
  align-items:center;
  align-content:center;
  gap:15px;
}
.clay_contents p{width:55%;}
.clay_contents img:nth-of-type(1){width:42%;}
.clay_contents img:nth-of-type(2){width:67.5%; border-radius:10px;
box-shadow:3px 5px 10px rgba(0,33,133,0.5)}
.clay_contents img:nth-of-type(3){width:31%;}

.clay_contents img:hover{animation:float 0.8s infinite alternate;}

/* Big Font___________ */
#bigfont{
  width:100%;
  height:1000px;
  background-image: linear-gradient(to top, #69EACB 0%, #b0a0e2 50%, #6654F1 100%);
}
.bf{
  width:100%;
  max-width:1400px;
  height:inherit;
  margin:auto;
  position:relative;
}
.bf h2{
  padding-right:30px;
  text-align:right;
  color:#fff;
}
.big_text{
  font-family: 'Prompt', sans-serif;
  font-weight:500;
  display:flex;
  color:#fff;
  font-size:120px;
  font-size:7.5rem;
  text-transform:uppercase;
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  z-index:5;
}
.bf span:nth-of-type(1){
  width:55%;
  padding-bottom:55%;
  background:url(../image/marble.gif)no-repeat center center;
  background-size:cover;
  border-radius:50%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.bf span:nth-of-type(2){
  width:35%;
  padding-bottom:13%;
  background:url(../image/marble2.gif)no-repeat center center;
  background-size:cover;
  position:absolute;
  top:50%;
  right:30px;
  transform:translateY(-50%);
}
/* Dark Mode___________ */
#darkmode{  
  width:100%;
  height:1000px;
  background-color:#000;
}
.dm{
  width:100%;
  max-width:1400px;
  height:inherit;
  margin:auto;
  position:relative;
}
.dm h2{
  text-align:center;
  color:#fff;
}
.button{
  width:200px;
  height:70px;
  border-radius:60px;
  background-color:#fff;
  position: relative;
  margin:auto;
  margin-top:30px;
}
.button span{
  display:inline-block;
  width:60px;
  height:60px;
  border-radius:50%;
  background-color:#222;
  position:absolute;
  top:50%;
  left:10px;
  transform:translateY(-50%);
  cursor:pointer;
}
.dm p{
  text-align:center;
  color:#aaa;
  padding:20px 10px;
}
.dm_contents{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  gap:15px;
}
.dm_contents h3{
  color:#fff;
  font-size:25px;
  font-size:1.563rem;
}
.dm_contents span{
  color:#aaa;
}
.dm_contents b{
  display:block;
  color:#fff;
  cursor:pointer;
  background-color:#2d4d9e;
  width:50%;
  padding:10px;
  border-radius:10px;
  text-align:center;
  margin:0 auto;
  transition:0.25s;
}
.dm_contents b:hover{
  background-color:#d2b261;
  color:#2d4d9e
}
.dm_con{
  width:48%;
  height:250px;
  background-color:#222;
  padding:20px 40px;
  border-radius:15px;
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
}
.dm_con1 span, .dm_con4 span{
  display:block;
  padding:10px 0;
  height:80px;
  text-align:center;
}
.img_box{
  width:100%;
  height:210px;
  overflow:hidden;
  border-radius:10px;
}
.dm_con2 img{
  width:100%;
  transition:0.3s;
}
.dm_con2 img:hover{transform:scale(1.2);}
.dm_con3{text-align:center;}
.dm_con3 img{
  width:28%;
  transition:0.25s;
}
.dm_con3 img:hover{filter: invert(100%);}

/* Gradation___________ */
#gradation{
  width:100%;
  height:1000px;
  background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
  background-blend-mode: normal,color-burn;
}
.gra{
  width:100%;
  max-width:1400px;
  height:inherit;
  margin:auto;
  position:relative;
  overflow:hidden;
}
.gra h2{padding-left:10px;}
.gra_contents{
  display:flex;
  gap:10px;
}
.gra p{margin:30px 10px;}
.gra_contents div{
  font-family: 'Quicksand', sans-serif;
  font-weight:300;
  flex:1;
  padding-bottom:650px;
  position:relative;
  overflow:hidden;
}
.gradation1{
  background:url(../image/gradation1.jpg)no-repeat center center;
  background-size:cover;
}
.gradation1 span{
  position:absolute;
  top:10%;
  left:23%;
  font-size:80px;
  font-size:5.0rem;
  color:#fff;
  letter-spacing:4px;
}
.gradation2{
  background:url(../image/gradation2.jpg)no-repeat center center;
  background-size:cover;
  text-align:right;
}
.gradation2 span{
  position:absolute;
  bottom:10%;
  left:10%;
  font-size:80px;
  font-size:5.0rem;
  color:#fff;
  letter-spacing:4px;
}
.gradation3{
  background:url(../image/gradation3.jpg)no-repeat center center;
  background-size:cover;
}
.gradation3 span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border: 1px solid #fff;
  width:90%;
  height:90%;
}
.gradation3 b{
  position:absolute;
  top:-10%;
  left:-20%;
  border: 1px solid #fff;
  width:50%;
  padding-bottom:50%;
  border-radius:50%;
}
.gradation3 em{
  position:absolute;
  bottom:-7%;
  right:-18%;
  border: 1px solid #fff;
  width:60%;
  padding-bottom:60%;
  border-radius:50%;
}
.gradation4{
  background:url(../image/gradation4.jpg)no-repeat center center;
  background-size:cover;
}
.gradation4 span{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size:80px;
  font-size:5.0rem;
  color:#fff;
  letter-spacing:4px;
}

/* ___________Footer___________ */
#footer{
  width:100%;
  height:140px;
  background-color:#222;
}
.footer{
  width:100%;
  max-width:1400px;
  height:inherit;
  margin:auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  box-sizing:border-box;
}
.footer img{
  flex-grow:0;
  width:130px;
  margin-bottom:10px;
}
.footer span{color:#ccc;}